@using ComiteCompartido.Dtos.Usuarios
@model IEnumerable<UsuarioListadoDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Bienvenido Usuario Digitador</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

