@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div>
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="password" placeholder="password" />
        <button type="submit">Login</button>
    </div>
</form>
<div>
    <p>
        Usuario Administrador por defecto:
        <ul>
            <li>Email: admin@admin.com</li>
            <li>Password: Admin.123</li>
        </ul>
    </p>
</div>
<div>
    <p>
        Usuario Digitador por defecto:
        <ul>
            <li>Email: digitador@digitador.com</li>
            <li>Password: Digitador.123</li>
        </ul>
    </p>
</div>